.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.comment-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 800px;
  background-color: #eee;
}

.postlist-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 800px;
  background-color: #eee;
  overflow: auto;
}

.post-wrapper {
  height: 200px;
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px #d4d2d2;
  cursor: pointer;
  background-color: white;
}

.comment {
  width: 90%;
  padding: 10px;
  cursor: pointer;
  background-color: #dff3ff;
}
